<!DOCTYPE html>
<html lang="en">
<body class=home-body>
<div class="home-container">
  <% @video_games.each do |video_game| %>
    <%= link_to video_game_path(video_game), class: "link" do %>
      <div class="home-card" style="background-image: url('<%= image_path('Call-of-Duty-MW3-Cover.jpg') %>'); background-size: cover; background-position: center; back">
      </div>
        <div class="home-title">
        <%= video_game.title %>
       <div class="price"><strong><%= video_game.price %>€</strong>
       </div>
        </div>
    <% end %>
  <% end %>
</div>
</body>
</html>
