.body-add {
  height: 100vh;
  margin: 0;
}

.custom-input2:focus {
  background-color: rgba(16, 16, 16, 0.4);
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

.custom-input2::placeholder {
  color: #999;
  font-family: "Courier New", Courier, monospace;
}

.add-card-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 500px;
}

.add-container {
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}

.input-add-flex {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.custom-input2 {
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 2px var(--color-medium);
  background-color: rgba(16, 16, 16, 0.4);
  width: 280px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
}

.description-input {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.submit-game,
.input-photo {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-right: 87px;
}

.add-text {
  text-align: center;
  margin-top: 150px;
  color: #F77504;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-right: 740px;
}

.back-wallpaper {
  background-image: url(https://www.instant-gaming.com/themes/igv2/modules/register/images/wallpaper.jpg);
  background-size: cover;
  background-position: top;
  width: 50%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.adding-register {
  margin: 0;
  padding: 0;
  width: 50%;
  height: auto;
  flex-direction: column;
}

.jilsonne-singe {
  margin-top: 20px;
  margin-right: 200px;
}

.input-photo {
  width: 240px;
  margin-left: 20px;
}

.custom-textarea {
  height: 120px;
}

.submit-button {
  color: #F77504;
}
