.body-home {
  background-color: #323232;
  margin: 0;
  padding: 0;
  width: 50%;
  height: auto;
}

.custom-input {
  box-shadow: inset 0 0 0 2px var(--color-medium);
  background-color: rgba(16,16,16,.4);
  width: 280px;
  height: 40px;
  border-radius: 8px;
}
.custom-input:focus {
  background-color: rgba(16,16,16,.4);
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.custom-input::placeholder {
  color: #999;
  font-family: 'Courier New', Courier, monospace;
}

.wallpaper {
  background-image: url(https://www.instant-gaming.com/themes/igv2/modules/register/images/wallpaper.jpg);
  background-size: cover;
  background-position: top;
  width: 50%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.register {
  background-color: #323232;
  margin: 0;
  padding: 0;
  width: 50%;
  height: auto;
  flex-direction: column;
  margin-left: 180px;
  margin-top: 200px;
}
.new-button {
  text-align: center;
  background-color: #4682B4;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  width: 280px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  margin-top: 15px;
  font-weight: bold;
  line-height: 40px;
 }

 .submit-button {
  text-align: center;
  background-color: #4682B4;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  width: 280px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
 }

.new-button:hover {
  background-color: #555;
}

.submit-button:hover {
  background-color: #555;
 }


.form-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.button-action {
 margin-left: 40px;
}
