.simple-form {
  width: 50vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #323232; /* Changement de couleur de fond */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: "Courier New", Courier, monospace; /* Changement de la police */
}

h2 {
  text-align: center;
  color: #fff; /* Changement de couleur du texte */
}

.form-inputs {
  margin-bottom: 20px;
}
.form-inputs label {
  color: white;
}
.form-inputs input {
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(16, 16, 16, 0.4);
  color: #fff;
  font-family: "Courier New", Courier, monospace; /* Changement de la police */
}

.form-inputs input:focus {
  background-color: rgba(16, 16, 16, 0.4);
  color: #fff;
}

.form-inputs input::placeholder {
  color: #999;
}

.form-actions {
  text-align: center;
}

.btn-submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #45a049;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #2980b9;
}

.btn-update {
  text-align: center;
  background-color: #4682b4;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  width: 280px;
  height: 40px;
  font-family: "Courier New", Courier, monospace; /* Changement de la police */
  color: black;
}

.custom-class-for-hint {
  color: white;
  opacity: 0.6;
}
